<!DOCTYPE HTML>
<!--
    There's two different menus in order to differenciate the page between a sing up user and a not registered one
    (for when you enter the page the first time)
-->
<html>
<header>
    <title>profile</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</header>
<style>
    body {
        background-image: url("IMG/background.jpeg"); 
    }
</style>
<body>
    <h1>My Profile</h1> 
    <h2>Personal infomation</h2> 
    <div th:each="persona : ${personas}">
    	<div>
    		<p><b>Username</b></p> 
    		<p th:text="${persona.nombre}"></p>
    	</div>
    	<div>
    		<p><b>Email</b></p> 
    		<p th:text="${persona.mail}"></p>
    	</div>
    </div>
    <h2>Progress</h2> 
    <p>Learning level</p> 
    <!--
        The original idea is to display a graph repressenting the progress level of the user, along with an indicator of his learning level
        (beginner, intermediate, advanced...)
    -->
</body>
</html>
