<!DOCTYPE HTML>
<html>
<header>
    <title>Create_ Exercise</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</header>
<body>
	
    	<h1>Create new Challenge</h1>
    <form th:action="@{/create_challenge/save}" method="post" th:object="${challenge}">
    	<div>
        	<label>Challenge Description</label> <br>
        	<textarea id ="challenge_description" th:field="*{challenge}"></textarea> <br>
        </div>
        <label>Experience: </label>
        <input type="number" id="experience" name="experience" min="1" max="100" th:field="*{experience}">
        <div>
        	<label>Date for the challenge</label>
        	<input type="date" th:field="*{challenge_day}">
        </div>
        <div>
        	<input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
