<!DOCTYPE html>
<html>
  <head>
    <title>Forum discussion - Posts</title>
  </head>
  <body>
    <header>
      <h1>Javalingo's Forum</h1>
    </header>
    <section id="contenido">
    	<div th:each="f : ${forum_question}">
        	<article class="post">
        	<h2 th:text="${f.forum_question_name}"></h2>
        	<p class="autor" th:text="${f.user_name}"></p>
        	<p class="contenido" th:text="${f.forum_description}"></p>
      		</article>
      		<h3>Comments</h3>
        	<form method="post" th:action="@{/create_answer/{id}(id=${f.forum_id})}">
	            <label for="comentario">Comentario:</label>
	            <textarea id="comentario" name="comentario"></textarea>
	            <br>
	            <button type="submit">Enviar</button>
         	</form>
      	</div>
      <section class="comentarios">
        <div th:each=" fa : ${forum_answers}">
        	<article class="comentario">
          		<p class="autor" th:text="${fa.user_name}"></p>
          		<p class="contenido" th:text="${fa.forum_description}"></p>
        	</article>
        </div>
      </section>
    </section>
    <footer>
      <p>&copy; 2023 Forum Discussion</p>
    </footer>
  </body>
</html>