<!DOCTYPE HTML>
<!--
    There's two different menus in order to differenciate the page between a sing up user and a not registered one
    (for when you enter the page the first time)
-->
<html>
<header>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</header>
   <style>
        body{
            text-align: center;
        }
        #logo img{
            width: 500px;
            justify-content: center;
            margin-top: 4%;
        }
        #logo #title{
            font-style: bold;
            font-size: 90px;
        }
        #logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    </style>
<body>
    <!-- This goes in a nav bar -->
    <nav>
        <a href="daily_challenge">Daily challenge</a> 
        <a href="exercises">Exercises</a>
        <a href="forum">Forum</a>
        <a href="profile">Profile</a> 
        <a href="logout">Log out</a> 
        <a href="admin" th:if="${session.is_admin eq 1}">Admin Panel</a> 
    </nav>
    <div id="logo">
        <img src="IMG/logo.png"></img>
        <p id="title">Javalingo</p>
    </div>
</body>
</html>
